<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if(hora <= 12) { %>
        <h1>Buenos días</h1>
    <% } %>
    <% if(hora > 12 && hora < 20) { %>
        <h1>Buenas tardes</h1>
    <% } %>
    <% if(hora >= 20) { %>
        <h1>Buenas noches</h1>
    <% } %>
</body>
</html>